<h1>Home index</h1>

<p>Them lop hoc nhap vao link duoi "New Loph, con khong out... bien"</p>
<%= link_to 'Tao lop moi', new_loph_path %>&nbsp&nbsp&nbsp&nbsp
<%= link_to 'Hien thi cac lop hien co', lophs_url %>&nbsp&nbsp&nbsp&nbsp
<%= link_to "Signout",logout_path,method: :delete %>